@model IEnumerable<Content>
@{
    foreach (var item in Model)
    {
        <div class="owl-carousel-info-wrap item">
            <img src="@item.ContentAvata"
                 class="owl-carousel-image img-fluid" alt="">

            <div class="owl-carousel-info">
                <h4 class="mb-2">
                    @item.Name
                    <img src="~/assets/images/verified.png" class="owl-carousel-verified-image img-fluid"
                         alt="">
                </h4>

                <span class="badge">@item.ContentCategory.Name</span>

            </div>

            <div class="social-share">
                <ul class="social-icon">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>
                </ul>
            </div>
        </div>
    }
}

@* 
<div class="owl-carousel-info-wrap item">
    <img src="~/assets/images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
         class="owl-carousel-image img-fluid" alt="">

    <div class="owl-carousel-info">
        <h4 class="mb-2">
            William
            <img src="~/assets/images/verified.png" class="owl-carousel-verified-image img-fluid"
                 alt="">
        </h4>

        <span class="badge">Creative</span>

        <span class="badge">Design</span>
    </div>

    <div class="social-share">
        <ul class="social-icon">
            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-twitter"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-facebook"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-pinterest"></a>
            </li>
        </ul>
    </div>
</div>

<div class="owl-carousel-info-wrap item">
    <img src="~/assets/images/profile/cute-smiling-woman-outdoor-portrait.jpg"
         class="owl-carousel-image img-fluid" alt="">

    <div class="owl-carousel-info">
        <h4 class="mb-2">Taylor</h4>

        <span class="badge">Modeling</span>

        <span class="badge">Fashion</span>
    </div>

    <div class="social-share">
        <ul class="social-icon">
            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-twitter"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-facebook"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-pinterest"></a>
            </li>
        </ul>
    </div>
</div>

<div class="owl-carousel-info-wrap item">
    <img src="~/assets/images/profile/man-portrait.jpg" class="owl-carousel-image img-fluid" alt="">

    <div class="owl-carousel-info">
        <h4 class="mb-2">Nick</h4>

        <span class="badge">Acting</span>
    </div>

    <div class="social-share">
        <ul class="social-icon">
            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-instagram"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-youtube"></a>
            </li>
        </ul>
    </div>
</div>

<div class="owl-carousel-info-wrap item">
    <img src="~/assets/images/profile/woman-posing-black-dress-medium-shot.jpg"
         class="owl-carousel-image img-fluid" alt="">

    <div class="owl-carousel-info">
        <h4 class="mb-2">
            Elsa
            <img src="~/assets/images/verified.png" class="owl-carousel-verified-image img-fluid"
                 alt="">
        </h4>

        <span class="badge">Influencer</span>
    </div>

    <div class="social-share">
        <ul class="social-icon">
            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-instagram"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-youtube"></a>
            </li>
        </ul>
    </div>
</div>

<div class="owl-carousel-info-wrap item">
    <img src="~/assets/images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
         class="owl-carousel-image img-fluid" alt="">

    <div class="owl-carousel-info">
        <h4 class="mb-2">Chan</h4>

        <span class="badge">Education</span>
    </div>

    <div class="social-share">
        <ul class="social-icon">
            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-linkedin"></a>
            </li>

            <li class="social-icon-item">
                <a href="#" class="social-icon-link bi-whatsapp"></a>
            </li>
        </ul>
    </div>
</div> *@