@model AmenityVM
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-2">Create Amenity</h1>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form class="row" method="post">
            <div class="p-3">

                <div class="form-floating py-1 col-12">
                    <select class="form-select border shadow" asp-for="@Model.Amenity.VillaId" asp-items="@Model.VillaList">
                        <option disabled selected>--Select Villa--</option>
                    </select>
                    <label class="ms-2" asp-for="Amenity.VillaId">VillaId</label>
                    <span asp-validation-for="Amenity.VillaId" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input type="text" asp-for="Amenity.Name" class="form-control border shadow" />
                    <label class="ms-2" asp-for="Amenity.Name">Amenity Name</label>
                    <span asp-validation-for="Amenity.Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input type="text" asp-for="Amenity.Description" class="form-control border shadow" />
                    <label class="ms-2" asp-for="Amenity.Description">Description</label>
                    <span asp-validation-for="Amenity.Description" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="btn btn-secondary w-100" asp-controller="VillaNumber" asp-action="Index">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}